/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */


/*
**********************
--- GENERAL THEME CSS ---
**********************
*/

body{
    color:#575757;
}

h1{
    color:#272626;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    color: #ffffff !important;
    background-color: #FB3A48;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret, .navbar-default .navbar-nav>.open>a:focus .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.dropdown>a .caret{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.dropdown-menu{
    background: #FB3A48;
    margin-left: 0;
    margin-right: 0;
    border: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    color: #ffffff;
    background-color: #FB3A48 !important;
    border-left:2px solid #ffffff ;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    background: transparent;
}

header#navbar{

    background: #FB3A48;
    border-bottom: 2px solid #FB3A48;

}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#ffffff;
    border-bottom: 2px solid #ffffff;
}

.container .block h2.block-title{
    color:#272626;
}

/*
**********************
--- SIDEBAR ---
**********************
*/

.region-sidebar-second .block h2.block-title,.region-sidebar-first .block h2.block-title{

    border-bottom: 2px solid #FB3A48;
    padding-bottom: 10px;
    border-top: 2px solid #FB3A48;
    padding-top: 10px;
}

.second_content .container .block h2.block-title{
    color:#FB3A48;
}

/*
**********************
--- LOADERS ---
**********************
*/


.la-anim-1 {
    background: #ffffff;
}

/*
**********************
--- BUTTONS AND LINKS ---
**********************
*/

.back_to_top i{
    color: #fff;
    background: #FB3A48;
    border: 2px solid #FB3A48;

}

.top_button a.back_to_top:hover i{
    background: white;
    color: #FB3A48;
}

.btn-default,
input.form-submit,
.btn-primary{

    background-color: #FB3A48;
    border: 1px solid #FB3A48;

}

.btn-default:hover,
input.form-submit:hover,
.btn-primary:hover{
    background-color: #ffffff;
    border: 1px solid #FB3A48;
}

a,.theme_color,.highlight_content h4,a:hover,.tweets_region .flexslider .field-content a,.blog_category i,.username,
.btn-default:hover, input.form-submit:hover,.node-project .field-type-taxonomy-term-reference,.btn-primary:hover,.second_content .container .block h2.block-title,.loading_text,.view-filter-controls li.filter,
.tagcloud a,.tweets_region .fa-twitter{
    color:#FB3A48;
}

.underline_title{
    border-bottom: 2px solid #FB3A48;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #FB3A48;
    border-color: #FB3A48;
}

body .tooltip .tooltip-inner {
    color: #ffffff;
    background: #FB3A48;
    padding:10px;
}

body .tooltip.top .tooltip-arrow {
    border-top-color: #FB3A48;
}
body .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #FB3A48;
}
body .tooltip.left .tooltip-arrow {
    border-left-color: #FB3A48;
}
body .tooltip.right .tooltip-arrow {
    border-right-color: #FB3A48;
}

/*
**********************
--- BOOTSTRAP OVERRIDE ---
**********************
*/

.progress-bar{
    background-color: #FB3A48;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-bar-info {
    background-color: #5bc0de;
}

.underline_title_top{
    border-top: 2px solid #FB3A48;
    padding-top: 15px;
}


/*
**********************
--- ICONS ---
**********************
*/

.bg_circle{
    background: #FB3A48;
}

a.social_icon i{
    color: inherit;
    background: #FB3A48;
    border:2px solid #FB3A48;
}
a.social_icon:hover i{
    color: #FB3A48;
    background: #ffffff;
}

a.social_icon{
    color:#ffffff;
}

ul.gray_icons i{
    color: inherit;
    background: #f5f5f5;
    border:2px solid #ccc;
}



.hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top:20px;
}

a.hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #FB3A48;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon:before {

    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
    background: #FB3A48;
    opacity: 0.8;
    filter:alpha(opacity=80);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
    color:#ffffff;
}

.hi-icon-effect-1 .hi-icon:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #FB3A48;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
    filter:alpha(opacity=0);
}

/* Effect 1a */
.no-touch .hi-icon-effect-1a .hi-icon:hover {
    background: #FB3A48;
    opacity: 1;
    filter:alpha(opacity=100);
    color: #ffffff;
}

.no-touch .hi-icon-effect-1a .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter:alpha(opacity=100);
}

/* Effect 1b */
.no-touch .hi-icon-effect-1b .hi-icon:hover {
    background: #FB3A48;
    opacity: 1;
    filter:alpha(opacity=100);
    color: #ffffff;
}

.hi-icon-effect-1b .hi-icon:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.no-touch .hi-icon-effect-1b .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter:alpha(opacity=100);
}

/* Effect 2 */
.hi-icon-effect-2 .hi-icon {
    color: #ffffff;
    box-shadow: 0 0 0 3px #FB3A48;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.hi-icon-effect-2 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #FB3A48;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

/* Effect 2a */
.no-touch .hi-icon-effect-2a .hi-icon:hover {
    color: #ffffff;
}

.no-touch .hi-icon-effect-2a .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

/* Effect 2b */
.no-touch .hi-icon-effect-2b .hi-icon:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}

.no-touch .hi-icon-effect-2b a.hi-icon:hover {
    color: #FB3A48;
}

/* Effect 3 */
.hi-icon-effect-3 .hi-icon {
    box-shadow: 0 0 0 4px #FB3A48;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #FB3A48;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.hi-icon-effect-3a .hi-icon {
    color: #ffffff;
}

.no-touch .hi-icon-effect-3a a.hi-icon:hover {
    color: #FB3A48;
}

.no-touch .hi-icon-effect-3a .hi-icon:hover:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

/* Effect 3b */
.hi-icon-effect-3b a.hi-icon {
    color: #FB3A48;
}

.no-touch .hi-icon-effect-3b .hi-icon:hover {
    color: #ffffff;
}

.hi-icon-effect-3b .hi-icon:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

.no-touch .hi-icon-effect-3b .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 4 */
.hi-icon-effect-4 .hi-icon {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 0 4px #FB3A48;
}

.hi-icon-effect-4a .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hi-icon-effect-4 .hi-icon:before {
    line-height: 92px;
}

.hi-icon-effect-4 .hi-icon:after {
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    border: 4px dashed #FB3A48;
}

.no-touch .hi-icon-effect-4 a.hi-icon:hover {
    box-shadow: 0 0 0 0 rgba(255,255,255,0);
    color: #FB3A48;
}

/* Effect 4b */
.no-touch .hi-icon-effect-4b .hi-icon:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.no-touch .hi-icon-effect-4b .hi-icon:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
    box-shadow: 0 0 0 4px #FB3A48;
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.hi-icon-effect-5 .hi-icon:after {
    display: none;
}

.no-touch .hi-icon-effect-5 .hi-icon:hover {
    background: #FB3A48;
    color: #ffffff;
    box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}

.no-touch .hi-icon-effect-5a .hi-icon:hover:before {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

.no-touch .hi-icon-effect-5b .hi-icon:hover:before {
    -webkit-animation: toLeftFromRight 0.3s forwards;
    -moz-animation: toLeftFromRight 0.3s forwards;
    animation: toLeftFromRight 0.3s forwards;
}

@-webkit-keyframes toLeftFromRight {
    49% {
        -webkit-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toLeftFromRight {
    49% {
        -moz-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toLeftFromRight {
    49% {
        transform: translate(-100%);
    }
    50% {
        opacity: 0;
        transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}

.no-touch .hi-icon-effect-5c .hi-icon:hover:before {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

.no-touch .hi-icon-effect-5d .hi-icon:hover:before {
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toBottomFromTop {
    49% {
        -moz-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
    box-shadow: 0 0 0 4px #FB3A48;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover {
    background: #FB3A48;
    color: #ffffff;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover:before {
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
}

/* Effect 7 */
.hi-icon-effect-7 .hi-icon {
    box-shadow: 0 0 0 4px #FB3A48;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.no-touch .hi-icon-effect-7 a.hi-icon:hover {
    color: #FB3A48;
}

.hi-icon-effect-7 .hi-icon:after {
    top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
}

/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after {
    box-shadow: 0 0 0 #FB3A48;
    -webkit-transition: opacity 0.2s, box-shadow 0.2s;
    -moz-transition: opacity 0.2s, box-shadow 0.2s;
    transition: opacity 0.2s, box-shadow 0.2s;
}

.no-touch .hi-icon-effect-7a .hi-icon:hover:after {
    opacity: 1;
    box-shadow: 3px 3px 0 #FB3A48;
}

.hi-icon-effect-7a .hi-icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.no-touch .hi-icon-effect-7a .hi-icon:hover:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 7b */
.hi-icon-effect-7b .hi-icon:after {
    box-shadow: 3px 3px #FB3A48;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.no-touch .hi-icon-effect-7b .hi-icon:hover:after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.hi-icon-effect-7b .hi-icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.no-touch .hi-icon-effect-7b .hi-icon:hover:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 8 */
.hi-icon-effect-8 .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.no-touch .hi-icon-effect-8 a.hi-icon:hover {
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #FB3A48;
}

.hi-icon-effect-8 .hi-icon:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 3px #FB3A48;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.no-touch .hi-icon-effect-9a .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.5;
}

.no-touch .hi-icon-effect-9a a.hi-icon:hover {
    box-shadow: 0 0 0 10px #FB3A48;

}
.no-touch .hi-icon-effect-9a a.hi-icon:hover{
    color: #FB3A48;
}

/* Effect 9b */
.no-touch .hi-icon-effect-9b .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

.no-touch .hi-icon-effect-9b a.hi-icon:hover {
    box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
    color: #FB3A48;
}


/*ICON EFFECTS CONTRAST*/


.contrast .hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 30px;
}

.contrast .hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

.contrast .hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.contrast .hi-icon:before {

    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

/* Effect 1 */
.contrast .hi-icon-effect-1 .hi-icon {
    background: rgba(255,255,255,0.1);
    opacity: 0.8;
    filter:alpha(opacity=80);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.contrast .hi-icon-effect-1 .hi-icon:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #ffffff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
    filter:alpha(opacity=0);
}

/* Effect 1a */
.no-touch .contrast .hi-icon-effect-1a a.hi-icon:hover {
    background: #ffffff;
    opacity: 1;
    filter:alpha(opacity=100);

}
.no-touch .contrast .hi-icon-effect-1a a.hi-icon:hover{
    color: #FB3A48;
}

.no-touch .contrast  .hi-icon-effect-1a .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter:alpha(opacity=100);
}

/* Effect 1b */
.no-touch .contrast .hi-icon-effect-1b a.hi-icon:hover {
    background: #ffffff;
    opacity: 1;
    filter:alpha(opacity=100);

}

.no-touch .contrast .hi-icon-effect-1b a.hi-icon:hover{
    color: #FB3A48;
}

.contrast .hi-icon-effect-1b .hi-icon:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.no-touch .contrast .hi-icon-effect-1b .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter:alpha(opacity=100);
}

/* Effect 2 */
.contrast .hi-icon-effect-2 a.hi-icon {

    box-shadow: 0 0 0 3px #ffffff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.contrast .hi-icon-effect-2 a.hi-icon{
    color: #FB3A48;
}

.contrast .hi-icon-effect-2 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #ffffff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

/* Effect 2a */
.no-touch .contrast .hi-icon-effect-2a a.hi-icon:hover {
    color: #FB3A48;
}

.no-touch .contrast .hi-icon-effect-2a .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

/* Effect 2b */
.no-touch .contrast .hi-icon-effect-2b .hi-icon:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}

.no-touch .contrast .hi-icon-effect-2b a.hi-icon:hover {
    color: #FB3A48;
}

/* Effect 3 */
.contrast .hi-icon-effect-3 .hi-icon {
    box-shadow: 0 0 0 4px #ffffff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.contrast .hi-icon-effect-3 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #ffffff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.contrast .hi-icon-effect-3a a.hi-icon {
    color: #FB3A48;
}

.no-touch .contrast .hi-icon-effect-3a .hi-icon:hover {
    color: #ffffff;
}

.no-touch .contrast .hi-icon-effect-3a .hi-icon:hover:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

/* Effect 3b */
.contrast .hi-icon-effect-3b .hi-icon {
    color: #ffffff;
}

.no-touch .contrast .hi-icon-effect-3b a.hi-icon:hover {
    color: #FB3A48;
}

.contrast .hi-icon-effect-3b .hi-icon:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

.no-touch .contrast .hi-icon-effect-3b .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 4 */
.contrast .hi-icon-effect-4 .hi-icon {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 0 4px #ffffff;
}

.contrast .hi-icon-effect-4a .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.contrast .hi-icon-effect-4 .hi-icon:before {
    line-height: 92px;
}

.contrast .hi-icon-effect-4 .hi-icon:after {
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    border: 4px dashed #ffffff;
}

.no-touch .contrast .hi-icon-effect-4 .hi-icon:hover {
    box-shadow: 0 0 0 0 rgba(255,255,255,0);
    color: #ffffff;
}

/* Effect 4b */
.no-touch .contrast .hi-icon-effect-4b .hi-icon:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.no-touch .contrast .hi-icon-effect-4b .hi-icon:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

/* Effect 5 */
.contrast .hi-icon-effect-5 .hi-icon {
    box-shadow: 0 0 0 4px #ffffff;
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.contrast .hi-icon-effect-5 .hi-icon:after {
    display: none;
}

.no-touch .contrast .hi-icon-effect-5 a.hi-icon:hover {
    background: #ffffff;
    box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}

.no-touch .contrast .hi-icon-effect-5 a.hi-icon:hover{
    color: #FB3A48;
}

.no-touch .contrast .hi-icon-effect-5a .hi-icon:hover:before {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

.no-touch .contrast .hi-icon-effect-5b .hi-icon:hover:before {
    -webkit-animation: toLeftFromRight 0.3s forwards;
    -moz-animation: toLeftFromRight 0.3s forwards;
    animation: toLeftFromRight 0.3s forwards;
}

@-webkit-keyframes toLeftFromRight {
    49% {
        -webkit-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toLeftFromRight {
    49% {
        -moz-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toLeftFromRight {
    49% {
        transform: translate(-100%);
    }
    50% {
        opacity: 0;
        transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}

.no-touch .contrast .hi-icon-effect-5c .hi-icon:hover:before {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

.no-touch .contrast .hi-icon-effect-5d .hi-icon:hover:before {
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toBottomFromTop {
    49% {
        -moz-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

/* Effect 6 */
.contrast .hi-icon-effect-6 .hi-icon {
    box-shadow: 0 0 0 4px #ffffff;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.no-touch .contrast .hi-icon-effect-6 a.hi-icon:hover {
    background: #ffffff;
}

.no-touch .contrast .hi-icon-effect-6 a.hi-icon:hover{
    color: #FB3A48;
}

.no-touch .contrast .hi-icon-effect-6 .hi-icon:hover:before {
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
}

/* Effect 7 */
.contrast .hi-icon-effect-7 .hi-icon {
    box-shadow: 0 0 0 4px #ffffff;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.no-touch .contrast .hi-icon-effect-7 .hi-icon:hover {
    color: #ffffff;
}

.contrast .hi-icon-effect-7 .hi-icon:after {
    top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
}

/* Effect 7a */
.contrast .hi-icon-effect-7a .hi-icon:after {
    box-shadow: 0 0 0 #ffffff;
    -webkit-transition: opacity 0.2s, box-shadow 0.2s;
    -moz-transition: opacity 0.2s, box-shadow 0.2s;
    transition: opacity 0.2s, box-shadow 0.2s;
}

.no-touch .contrast .hi-icon-effect-7a .hi-icon:hover:after {
    opacity: 1;
    box-shadow: 3px 3px 0 #ffffff;
}

.contrast .hi-icon-effect-7a .hi-icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.no-touch .contrast .hi-icon-effect-7a .hi-icon:hover:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 7b */
.contrast .hi-icon-effect-7b .hi-icon:after {
    box-shadow: 3px 3px #ffffff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.no-touch .contrast .hi-icon-effect-7b .hi-icon:hover:after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.contrast .hi-icon-effect-7b .hi-icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.no-touch .contrast .hi-icon-effect-7b .hi-icon:hover:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 8 */
.contrast .hi-icon-effect-8 .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.contrast .hi-icon-effect-8 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.no-touch .contrast .hi-icon-effect-8 .hi-icon:hover {
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #ffffff;
}

.contrast .hi-icon-effect-8 .hi-icon:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FB3A48, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Effect 9 */
.contrast .hi-icon-effect-9 .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.contrast .hi-icon-effect-9 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 3px #ffffff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.no-touch .contrast .hi-icon-effect-9a .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.5;
}

.no-touch .contrast .hi-icon-effect-9a .hi-icon:hover {
    box-shadow: 0 0 0 10px #ffffff;
    color: #ffffff;
}

/* Effect 9b */
.no-touch .contrast .hi-icon-effect-9b .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

.no-touch .contrast .hi-icon-effect-9b .hi-icon:hover {
    box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
    color: #ffffff;
}


/*
***************
--- HERO REGION ---
***************
*/

#hero .flexslider .flex-direction-nav a{

}

#hero .button{
    background: transparent;
    color: #FFFFFF;
    border:2px solid #ffffff;
    opacity: 0.7;
    filter:alpha(opacity=70);
    font-weight: bold;
}

#hero .button:hover{
    opacity: 1;
    filter:alpha(opacity=100);
}

/*
***************
--- HIGHLIGHT AREA ---
***************
*/

/*.highlight-icon a{

    color: #FFFFFF;
    background: #FB3A48;
}*/
/*
.highlight-icon a:hover{
    background-color: #272626;
}*/


/*
***************
--- QUOTES ---
***************
*/

.quote_region{
    /* background: #FB3A48;*/
    color: #ffffff;
}


/*
***************
--- TWEETS REGION ---
***************
*/

.tweets_region .fa-twitter{
    background: #ffffff;

    box-shadow: 0 0 0 4px rgba(255,255,255,0.3);
}

.tweets_region .flexslider .views-field-web-intents a{
    background: #FB3A48;
    color: #FFFFFF;
}


/*
***************
--- PORTFOLIO ---
***************
*/

.da-thumbs li a div span.category{
    color:#ffffff;
}

.da-thumbs li a div {
    background: #FB3A48;
}

.view-id-work.view-display-id-page_3 .item a div {
    background: #FB3A48;

}


/*FILTERS*/

.view-filter-controls li.filter{
    border: 1px solid #FB3A48;
    background: #ffffff;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}


.view-filter-controls li:hover{
    border: 1px solid #FB3A48;
    color: #ffffff;
    background: #FB3A48;
}

/*
******************************
--- PORTFOLIO DETAIL PAGE ---
******************************
*/

.node-project .project_button a{

    background: #FB3A48;
    color: #FFFFFF;
}

.portolio_detail_holder a.close{
    color: #FB3A48;
}

.tagcloud a {
    background: #ffffff;
    border:1px solid #FB3A48;
}

.tagcloud a:hover {
    background: #FB3A48;
    color: #ffffff;
}

.categories div.views-row{
    color: #FB3A48;
}

/*
******************************
--- BLOGS PAGE ---
******************************
*/

.node-blog .blog_post_type{
    background: #FB3A48;
}

.node-blog .blog_post_date{
    background: #FB3A48;
    color: #ffffff;
}

.node-blog .post_blog_info{
    color:#272626;
}


/*TABLET MODE*/
@media (max-width: 767px) {

    .node-project .project_info h3,.node-project .project_info h4{

        border-top: 1px solid #eee;
        padding-top: 15px;
    }

    .container>.navbar-header, .container>.navbar-collapse.navbar-collapse{
        background: #FB3A48;
    }

    .navbar-default .navbar-nav >li a:hover{
        background-color: #fff !important;
        color:#FB3A48 !important;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background-color: #fff;

    }

    .navbar-default .navbar-toggle:hover .icon-bar,.navbar-default .navbar-toggle:focus .icon-bar{
        background: #FB3A48;
    }


}

/* Mobile display. */
@media only screen and (max-width:500px) {

}