/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 COLOR SCHEME : #63BE75
 */

/*
**********************
--- GENERAL THEME CSS ---
**********************
*/

html {
    height: 100% !important;
    min-height: 100% !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    background: #FFFFFF;
    font-size:15px;
    color: #575757;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.5px;
    line-height: 25px;
}

#wrapper_overall{
    background: #ffffff;
}

body .boxed{
    width:85%;
    margin:auto;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    height: auto;
    min-height: 100%;
}

body .boxed #hero{
    height: 500px;
}

.boxed header#navbar{
    position: relative !important;
    margin-bottom: 0;
}

.boxed .container{
    max-width: 100%;
}

h1{
    color:#272626;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: normal;
    margin-top: 10px;
}

h4 {
   font-size: 18px !important;
}

.upper{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: normal;
    margin-top: 10px;
}

.not-front .main-container{
    padding-bottom: 40px;
}

body.not-front {
  padding-top:90px;
}

.main-container{
  /*padding-top:80px;*/
    padding-bottom: 90px;
}

.main-container:before{
    height: 0px;
}
.main-container:after{
    height: 0px;
}

.sidebar-first .main-container section.col-sm-9{
    padding-left: 30px;
}

.sidebar-second .main-container section.col-sm-9{
    padding-right: 30px;
}

.main-container section.col-sm-9{
    padding-right: 30px;
}

.sidebar-first .main-container aside.col-sm-3{
    padding-right: 30px;
}

.sidebar-second .main-container aside.col-sm-3{
    padding-left: 30px;
}


.toolbar .main-container.not-front:before{
    height: 0px;
}

.main-container.not-front:before{
    height: 40px;
}

.boxed .main-container.not-front:before{
    height: 30px;
}

.page-contact .main-container{
    padding-top: 40px;
}
.page-contact .main-container.not-front:before{
    height: 0px;
}

.dropdown-menu>li>a{
    color: #ffffff;
}

header#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    padding: 0;
    z-index: 1500;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background: #272626;
    /*background: rgba(255,255,255,0.95);*/

    border:none;
    border-radius: 0;
}

header#navbar{
    height: 80px;
    line-height: 80px;
}

/*
STICKY NAVBAR - FULL SLIDESHOW
*/

header#navbar.sticky-wrapper{
    position: relative;
}

.logo{
    line-height: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo img {
    border-bottom: 2px solid #5e9cf1;
    border-radius: 50%;
    max-height: 130px;
    vertical-align: middle;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    line-height: 80px;
    /* vertical-align: middle; */
    margin-top: 25px;
}

header .navbar-collapse.collapse{
    line-height: 80px;
    height: 80px !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: none;
    box-sizing: border-box;
    position: relative;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color:#5e9cf1;
}

.navbar-default .navbar-nav>li>a {
    color: #5e9cf1;
    display: block;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 78px;
    padding-top: 0;
    padding-bottom: 0;

    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav>.active>a{
    background:transparent;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#63BE75;
    background:transparent;
    border-bottom: 2px solid #63BE75;
}

.container img{
    max-width:100%;
    height: auto;
}


.theme_color{
    color:#63BE75;
}


h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

.node{
    margin-top:10px;
}

.page-header{
    padding-bottom: 0px;
    border-bottom: 0;
}

h2, .h2{
    font-size: 30px;
}


.grid_system .row div{
    background: #f5f5f5;
    border:1px solid #ccc;
    padding:10px;
}

.underline_title_thin{
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

ul{
    padding-left: 0;
}

ul.inline-list{
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
}

ul.inline-list li:first-child{
    margin-left: 0;
}

ul.inline-list li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}



/*
******************************
--- MAIN CONTAINER ---
******************************
*/

.front .container .block-title{
    text-align: center;
}

.front section.block{
    padding-top: 20px;
}

.container .block h2.block-title{
    margin-top: 10px;
    margin-bottom: 30px;
    color:#272626;
    font-weight: 400;
    text-transform: uppercase;
}

/*
******************************
--- SECOND CONTAINER ---
******************************
*/

.second_content{
    padding-top: 80px;
    padding-bottom: 90px;
    background: #f5f5f5;
}

/*
***************
--- SIDEBAR ---
***************
*/

.region-sidebar-second .block h2.block-title,.region-sidebar-first .block h2.block-title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.region-sidebar-second,.region-sidebar-first{
    margin-top:0px;
}

/*
***************
--- BUTTONS AND LINKS ---
***************
*/

.btn-lg{
    font-size: 16px;
}

.btn-default,
input.form-submit{
    color: white;
    background-color: #63BE75;
    border: 1px solid #63BE75;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-default:hover,
input.form-submit:hover{
    color: #63BE75;
    background-color: white;
    border: none;
    border: 1px solid #63BE75;
}

a{
    color:#63BE75;
}

a:hover{
    color:#63BE75;
    text-decoration: none;
}

.top_button{
    width:100%;
    text-align: center;
    position:absolute;
    top:-15px;
}

.top_button a.back_to_top{
    cursor: pointer;

}

.top_button a.back_to_top i{
    color:#fff;
    width: 50px;
    line-height: 46px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
#hero .button{
    background: #63BE75;
    color: #FFFFFF;
    border: none;
    padding: 13px 42px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    -webkit-transition: 0.2s background linear;
    -moz-transition: 0.2s background linear;
    transition: 0.2s background linear;
    font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
    text-decoration: none !important;
    border-radius: 3px;
}

#hero .button:hover{

}

/*
***************
--- FLEXSLIDER ---
***************
*/

.flexslider .flex-control-nav{
    display: none;
}

.flexslider .flex-direction-nav a{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    z-index: 11;
    margin-top: -30px;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: #ffffff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
}

.flexslider .flex-direction-nav .flex-prev{
    left:0;
    font-size: 0
}

.flexslider .flex-direction-nav .flex-prev:before{
    font-family: 'FontAwesome';
    font-size: 40px;
    line-height: 60px;
    display: inline-block;
    content: '\f104';
}


.flexslider .flex-direction-nav .flex-next{
    right:0;
    font-size: 0;
}

.flexslider .flex-direction-nav .flex-next:before{
    font-family: 'FontAwesome';
    font-size: 40px;
    line-height: 60px;
    display: inline-block;
    content: '\f105';
}

/*
*************************
--- FRONT PAGE HERO REGION ---
*************************
*/

.region-hero section.block{
    padding-top:0;
}

#hero {
    background: #FFFFFF;
    position: relative;

    height: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;

    display: block;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: 2;
}

#hero .overlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.front #hero,
.front .full_width,
.front .region-hero,
.front .region-hero section,
.front .region-hero .view,
.front .region-hero .view .view-content{
    border: none !important;
    height: 100%;
    position: relative;
    z-index: 1;
}

#hero .flexslider {
    border: none !important;
    height: 100%;
    position: relative;
}

#hero .flexslider .flex-direction-nav a{
    border-radius: 3px;
}

#hero .flexslider .slides {
    height: 100%;
    position: relative;
    width: 100%;
}

.flexslider .slides img{
    width:100%;
    height: auto;
}

#hero .flexslider  .slides li:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1000;
}

#hero .flexslider .slides .content_hero{
    position: absolute;
    width: 100%;
    top: 25%;
    z-index: 3;

}

#hero .flexslider .slides .field-content{

    color: white;
    text-transform: capitalize;
    z-index: 3;
    width: 80%;
    margin: auto;
    margin-bottom:0px;
    font-size: 90px;
    letter-spacing: -1px;

    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: fantasy;
}

#hero .flexslider .slides p{
    color:white;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top:10px;
}

#hero .flexslider .slides span{

    text-align: center;
    left: 0;
}
#hero .flexslider .slides a{

    text-transform: uppercase;
    margin: auto;
}

#hero .views-field-field-link{
    display: none;
}

#hero .flexslider .slides li {
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    height: 100%;
    position: relative;
}

/*HIGHLIGHT AREA*/

.highlight-icon a{
    font-family: 'FontAwesome';
    display: inline-block !important;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px !important;
    height: 90px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.highlight-icon a:before{
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;

}


.highlight_content h4{
    color: #63BE75;
    text-transform: uppercase;
}

#hero .content_hero .inline-list li{
    margin-right: 20px;
    margin-left: 20px;
}


/*
***************
--- FORMS ---
***************
*/

form label{
    text-transform: none;
    font-weight: normal;
}

.not-logged-in form .filter-wrapper{
    display: none;
}

.comment h3 a{
    text-transform: uppercase;
    font-size: 20px;
}

.form-control{
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow:  0px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
}



/*
***************
--- LOADERS ---
***************
*/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1600;
    background: white;
    background-size: 40px;
}
.la-anim-1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 3px;
    background: #272626;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    pointer-events: none;
    dispay:none !important;
}

.la-anim-1.la-animate {
    z-index: 1601;
    opacity: 0;
    -webkit-transition: -webkit-transform 5s ease-in, opacity 1s 5s;
    transition: transform 5s ease-in, opacity 1s 5s;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.loading_text{
    text-transform: uppercase;
    color: #272626;
    top:40%;
    position: absolute;
    width:100%;
    text-align: center;
}

.loading_text h3{
    font-size:15px;
    font-weight: normal;
}

.loading_text i{

}

.front section.block,.front .project_detail section.block{
    padding-top: 0;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.toolbar #navbar{
    /*margin-top:60px;*/
}


/*
***************
--- ICONS ---
***************
*/

.bg_circle{
    color: #fff;
    width: 60px;
    line-height: 60px;
    height: 60px;
    font-size: 25px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.social_icons{
    margin-top:10px;
    margin-bottom: 10px;
    padding-left: 0;
}


.social_icons li{
    display: inline-block;
}

.social_icon{

}

.social_icon i{
    color: white;
    display: inline-block !important;
    cursor: pointer;
    margin: 10px;
    width: 50px;
    line-height: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    background: #63BE75;
    border:2px solid #63BE75;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.social_icon i:hover{
    background: white;
    color: #63BE75;
}

.social_icon.small i{
    width: 35px;
    line-height: 35px;
    height: 35px;
    margin: 0px;
    border-radius: 100%;
    font-size: 15px;
}

ul.gray_icons i{
    width: 40px;
    line-height: 37px;
    height: 40px;
    margin: 0px;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
}

.clear_item{
    clear:both;
}


/*
*********************
--- QUOTES REGION ---
*********************
*/

#block-views-quotes-block-block{
    padding-top: 0;
}

.quote_region .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    z-index: 0;
}
.quote_region .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.quote_region{
    margin-top: 0px;
    background: url("../images/quotes.jpg") 0px fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 100px 0px 100px 0px;
    color: white;
    text-align: center;
    position: relative;
}

.quote_region .container{
    z-index: 1;
    position: relative;
}

.quote_region .container .block h2.block-title{
    color:white;
    float: right;
    font-style: italic;
    padding-right: 100px;
    text-transform: capitalize !important;
    font-family: fantasy;
}
.quote_region .views-field-body p{
    font-size:25px;
    max-width: 59%;
    line-height: 36px;
    margin:auto;
}
.quote_region .views-field-body p:before{
    font-family: 'FontAwesome';
    font-size: 25px;
    display: inline-block;
    content: "\f10d";
    margin-right: 10px;
}

.quote_region .views-field-body p:after{
    font-family: 'FontAwesome';
    font-size: 25px;
    display: inline-block;
    content: "\f10e";
    margin-left: 10px;
}



/*
*********************
--- TWEET REGION ---
*********************
*/

.tweets_region{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url("../images/twitter.jpg") 0px fixed;
    text-align: center;
    padding:80px 0px;
    color: white;
    position: relative;
}

.tweets_region section.block{
    padding-top: 10px;
}

.tweets_region .block:first-child h2.block-title{
    color: white;
    margin-bottom: 20px;
}

.tweets_region .view-content{
    color:white;
}

.tweets_region .flexslider img{
    width: 48px;
    height: auto;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 10px;
}

.tweets_region .flexslider .flex-direction-nav a{
    color: white;
}

.tweets_region .flexslider .views-field-text{
    font-size: 25px;
    line-height: 30px;
    clear: both;
    display: block;
    max-width: 80%;
    margin: auto;
}

.tweets_region .flexslider .views-field-created-time{
    font-size: 25px;
    line-height: 30px;
    clear: both;
    display: block;
    max-width: 80%;
    margin: auto;
}
.tweets_region .flexslider .field-content a{
    color:#63BE75;
}

.tweets_region .fa-twitter{
    width: 50px !important;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border:2px solid white;
}

.tweets_region .flexslider .views-field-web-intents{
    margin-top: 20px;
}

.tweets_region .flexslider .views-field-web-intents a{
    background: #63BE75;
    color: #FFFFFF;
    border: none;
    padding: 4px 8px;
    font-size: 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    -webkit-transition: 0.2s background linear;
    -moz-transition: 0.2s background linear;
    transition: 0.2s background linear;
    text-decoration: none !important;
    border-radius: 3px;
}

.tweets_region .container{
    position: relative;
}

.tweets_region .overlay{
    background-color: rgba(0, 0, 0, 0.6);
}

.tweets_region .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}


/*
*****************
--- PORTFOLIO ---
*****************
*/

#third_content{
    padding-top: 60px;
    padding-bottom: 60px;

}

#block-views-work-block{
    padding-top: 10px;
}

.work-list{
    position: relative;
}

.work-list ul.items{
    padding: 0;
    margin:0;
}

.work-list ul.items .work-item{
    list-style: none;
    float:left;
    width:23%;
    position: relative;
    padding: 1%;
    border: 1px solid #f5f5f5;
    margin: 1%;
    min-height: 285px;
}

.work-list ul.items .work-item.cols-3{
    list-style: none;
    float:left;
    width:30%;
    position: relative;
    padding: 1%;
    border: 1px solid #f5f5f5;
    margin: 1%;
}

.work-list ul.items .work-item {

}

.work-list ul.items .work-item .views-field-field-image .field-content div{

}


.work-list ul.items .work-item img{
    width:100%;
    height: auto;
}

.da-thumbs li {
    position: relative;
}
.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
}

.da-thumbs li a {
    overflow: hidden;
}

.da-thumbs li a div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.da-thumbs li a div i{
    display: block;
    padding: 10px 0;
    text-align: center;
    margin:auto;
    color:white;
    font-weight: 200;
}

.da-thumbs li a div span.title{
    display: block;
    padding: 10px 0;
    margin: 40px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
    text-align: center;
}

.da-thumbs li.cols-3 a div span.title{
    margin: 80px 20px 20px 20px;
}

.da-thumbs li a div span.category{
    font-size: 13px;
    color:#ffffff;
    font-weight: normal;
}

/*FILTERS*/

.view-filter-controls .view-header{
    text-align: center;
    max-width: 70%;
    margin:auto;
    margin-bottom: 20px;
}

.view-filter-controls {
    text-align: center;
}

.view-filter-controls li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #63BE75;
    color: white;
    border-radius: 3px;
    background: #63BE75;
    padding: 6px 15px;
    margin: 5px;
    font-size: 14px;
}

#Grid .mix{
    opacity: 0;
    display: none;
}

/*
OTHER PORFOLIO VIEWS
*/

.view-work .views-row .social_icons{
    text-align: center;
    position:absolute;
    top:65%;
    left: 5%;
    width:90%;
    display:none;
}

/*
3 COLS GRID
*/

.view-id-work.view-display-id-page_1 .social_icon.small i{
    width: 40px;
    line-height: 40px;
    height: 40px;
    margin: 0px;
    border-radius: 100%;
    font-size: 20px;
}

/*
MASONRY
*/

.view-id-work.view-display-id-page_3{

}

#masonry_container .grid-sizer { width: 25%; }

.view-id-work.view-display-id-page_3 .item {
    width: 25%;
    margin: 0%;
    float: left;
}

.view-id-work.view-display-id-page_3 .item .item_inner{
    overflow: hidden;
    position: relative;
    margin:10px;
}

.view-id-work.view-display-id-page_3 .item.w2 { width:50%;}

.view-id-work.view-display-id-page_3 .item.w3 {width:73%}

.view-id-work.view-display-id-page_3 .item.w2 .social_icon.small i{
    width: 60px;
    line-height: 55px;
    height: 60px;
    margin: 0px;
    border-radius: 100%;
    font-size: 25px;
}

.view-id-work.view-display-id-page_3 .item div{

}

.view-id-work.view-display-id-page_3 .item a{
    display: block;
    overflow:hidden;
}

.view-id-work.view-display-id-page_3 .item a div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.view-id-work.view-display-id-page_3 .item a div i{
    display: block;
    padding: 10px 0;
    text-align: center;
    margin:auto;
    color:white;
    font-weight: 200;
}

.view-id-work.view-display-id-page_3 .item a div span.title{
    display: block;
    padding: 10px 0;
    margin: 40px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
    text-align: center;
}

.view-id-work.view-display-id-page_3 .item.w2 a div span.title{
    margin: 80px 20px 20px 20px;
    font-size:30px;
}

.view-id-work.view-display-id-page_3 .item.w1 a div span.title{
    margin: 20px 20px 20px 20px;
}

.view-id-work.view-display-id-page_3 .item a div span.category{
    font-size: 11px;
    color:#ffffff;
    font-weight: bold;
}

.view-id-work.view-display-id-page_3 .item.w2 a div span.category{
    font-size: 15px;
}


/*
**********************************
--- PORTFOLIO DETAIL PAGE ---
**********************************
*/

.page_overlay{
    z-index: 11;
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: none;
}

.portolio_detail_holder{
    clear:both;
    padding:10px;
    position: relative;
}

.portolio_detail_holder .project_detail{
    position: relative;
    max-width: 100%;
}

.node-project .flex-control-nav{
    display: none;
}

.node-project .submitted{
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    font-style: normal;
}

.username{
    color: #63BE75;
}

.node-project .project_info{
    text-align: right;
}

.node-project .social_icons{
    margin-top: 15px;
}

.node-project .field-type-taxonomy-term-reference{
    color: #63BE75;
    margin-bottom: 10px;

}

.node-project .field-type-taxonomy-term-reference .field-item{

    padding-bottom: 5px;
    padding-top: 5px;
}

.node-project .project_button{
    margin-top: 40px;
    text-align: center;

}

.node-project .project_button_left{
    text-align: left;
    margin-top: 20px;
}

.node-project .project_button a{

    background: #63BE75;
    color: #FFFFFF;
    border: none;
    padding: 13px 42px;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    -webkit-transition: 0.2s background linear;
    -moz-transition: 0.2s background linear;
    transition: 0.2s background linear;
    text-decoration: none !important;
    border-radius: 3px;
}

.portolio_detail_holder .close_project{
    z-index: 1;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}


.portolio_detail_holder a.close{
    font-weight: normal;
    color: #63BE75;
    font-size: 13px;
    opacity: 1;
    margin-top: 10px;
    cursor: pointer;
    z-index: 100;
}

/*
**********************************
--- FOOTER REGION ---
**********************************
*/

.footer{
    background: #f5f5f5;
    position: relative;
    text-align: center;
}

footer section.block,.front footer section.block{
    padding-top:10px;
}





/*
**********************************
--- BLOG PAGES ---
**********************************
*/

.tagcloud a {
    display: block;
    float: left;
    background: #63BE75;
    border-radius: 3px;
    padding: 3px 8px;
    color: white;
    margin: 0 6px 6px 0;
    text-decoration: none;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 14px;
}

.categories div.views-row{
    margin-bottom:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    color: #63BE75;
    text-transform: none;
    font-size: 14px;
}

.page-blog section.block{
    padding-top: 0;
}

.node-blog{
    padding: 0px;
    /*border: 1px solid #f5f5f5;*/
    margin-bottom: 40px;
    position: relative;

}

.node-blog .blog_head{
    overflow: hidden;
}

.node-blog .field-name-field-tags .field-label{
    display: none;
}

.node-blog .field-name-field-tags .field-items{
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.node-blog .blog_content .comment-add{
    display: none;
}

.node-blog .field-name-field-tags .field-items .field-item{
    display: inline-block;
    margin-right: 10px;
    border-right: 1px solid #f5f5f5;
    padding-right: 10px;
}

.node-blog .field-name-field-tags .field-items .field-item:last-child{
    border-right: none;
}

.node-blog .blog_usernames_blog{
    display: none;
}

@-moz-document url-prefix(){
    .node-blog .flexslider {
        border: 0 !important;
        margin-top: -1.4em !important;
    }
}

.node-blog h2{
    text-transform: uppercase;
}

.node-blog h2.comment-form{
    font-size: 30px;
}

.node-blog .blog_post_type{
    position: absolute;
    left: 0px;
    top: 0px;
    background: #272626;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.node-blog .blog_post_date{
    position: absolute;
    left: 0px;
    top: 51px;
    background: #63BE75;
    padding: 10px;
    width: 50px;
    /* height: 50px; */
    text-align: center;
    color: white;
    font-weight: bold;
}

.node-blog .post_blog_info{
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    font-style: normal;
    color:#272626;
    margin-bottom: 10px;
    margin-top: 20px;
}

.node-blog .post_blog_info .submitted{
    margin-bottom: 0;
}

.blog_category{
    float:left;
    width:auto;
margin-right:10px;
}

.blog_category i{
    color:#63BE75;
    float:left;
    margin-right: 10px;
    margin-top: 3px;
float:left;
}

.blog_category .field-name-field-post-type{
float:left;
}

.node-blog .blog_post_type .fa,.node-blog .blog_post_date .fa{
    color:white;
}

.node-blog .blog_content{
    margin-left: 50px;
    margin-top: 0px;
    position: relative;
    overflow:hidden;
    margin-top:0px;
}

.node-blog .blog_content .field,.node-blog .blog_content .project_images{
    margin-bottom:2px;
}


.node-blog .blog_content .field-name-body{
    margin-bottom: 20px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #63BE75;
    border-color: #63BE75;
}

.node-blog video{
    max-width: 100%;
    height: auto !important;
    overflow: hidden;
}
.mejs-mediaelement,.mejs-container{
    max-width: 100%;
    overflow: hidden;
}


/*
2 COLUMNS BLOG
*/

.view-id-blog_custom.view-display-id-page_1 .views-row{

    padding:10px;

}

.view-id-blog_custom.view-display-id-page_1 .views-row .blog_content h2{
    font-size: 25px;
}

.view-id-blog_custom .post_blog_info{
    display: none;
}

/*
3 COLUMNS BLOG
*/

.view-id-blog_custom.view-display-id-page_2 .views-row .blog_content h2{
    font-size: 17px;
}

/*
**********************************
--- WAYPOINT EFFECTS ---
**********************************
*/

.waypoint-effect {
    opacity: 0;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;

}

body.waypoint-no-effects .waypoint-effect ,
body.waypoint-no-effects .waypoint-effect  {
    opacity: 1;
}

.scaleUp{
    -webkit-animation: scaleupwards 0.3s forwards;
    -moz-animation: scaleupwards 0.3s forwards;
    animation: scaleupwards 0.3s forwards;
}

@-webkit-keyframes scaleupwards {
    from {
        opacity:0;
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity:1;
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes scaleupwards {
    from {
        opacity:0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity:1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scaleupwards {
    from {
        opacity:0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity:1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.fade{
    -webkit-animation: fadein 0.8s forwards;
    -moz-animation: fadein 0.8s forwards;
    animation: fadein 0.8s forwards;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.fromLeft{
    -webkit-animation: fromleft 0.8s forwards;
    -moz-animation: fromleft 0.8s forwards;
    animation: fromleft 0.8s forwards;
}

@-webkit-keyframes fromleft {
    from {
        opacity:0;
        margin-left:-400px;
    }
    to {
        opacity:1;
        left:0px;
    }
}
@-moz-keyframes fromleft {
    from {
        opacity:0;
        margin-left:-400px;
    }
    to {
        opacity:1;
        left:0px;
    }
}
@keyframes fromleft {
    from {
        opacity:0;
        margin-left:-400px;
    }
    to {
        opacity:1;
        left:0px;
    }
}

.fromRight{
    -webkit-animation: fromright 0.8s forwards;
    -moz-animation: fromright 0.8s forwards;
    animation: fromright 0.8s forwards;
}

@-webkit-keyframes fromright {
    from {
        opacity:0;
        margin-right:-400px;
    }
    to {
        opacity:1;
        left:0px;
    }
}
@-moz-keyframes fromright {
    from {
        opacity:0;
        margin-right:-400px;
    }
    to {
        opacity:1;
    }
}
@keyframes fromright {
    from {
        opacity:0;
        margin-right:-400px;
    }
    to {
        opacity:1;
    }
}

/*
**********************************
--- MEDIA QUERIES ---
**********************************
*/

@media (max-width: 976px) {
    /*WORK*/

    .work-list ul.items .work-item{
        list-style: none;
        float:left;
        width:31%;
        padding:1%;
        margin:1%;
    }
}

@media (max-width: 1000px){
    .view-work .views-row .social_icons{
        display: none !important;
    }

    .da-thumbs li.cols-3 a div span.title{
        margin: 40px 20px 20px 20px;
    }
}

/*TABLET MODE*/
@media (max-width: 767px) {

    .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
        border-bottom: none;
    }

    /*MENU ITEMS*/

    .da-thumbs li a div i{
        display: none;
    }

    .view-filter-controls li{
        margin:5px;
    }

    div.navbar-collapse {
        float: none !important;
    }

    .container>.navbar-header, .container>.navbar-collapse.navbar-collapse{
        min-height: 100%;
        background: #272626;
        height: 100%;
        max-height: none;
        border:none;
    }

    .container>.navbar-header, .container>.navbar-collapse.navbar-collapse .navbar-nav{

    }

    .navbar-collapse .navbar-nav>li>a{
        padding-left: 30px;
    }

    .navbar-collapse .navbar-nav>li>a{
        line-height: 50px;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        background: inherit;
    }

    .navbar-default .navbar-nav >li a:hover{
        background-color: #63BE75 !important;
        color:white !important;
    }

    .navbar-default .navbar-toggle{
        border:none;
        outline: none;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color: #63BE75;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background-color: #63BE75;
        border:none;
    }

    .navbar-default .navbar-toggle:hover span, .navbar-default .navbar-toggle:focus span{
        background-color: white;
    }

    .work-list ul.items .work-item,
    .work-list ul.items .work-item.cols-3{
        list-style: none;
        float:left;
        width:48%;
        padding:1%;
        margin:1%;
    }

    .node-blog .post_blog_info .blog_category{
        width:7%;
    }

    .node-blog .post_blog_info a{
        display:none;
    }

    .node-blog .post_blog_info .submitted{
        font-size: 12px;
    }

    .node-blog .blog_post_type{
        display:none;
    }

    .node-blog .blog_post_date{
        display:none;
    }
    .node-blog .blog_content{
        margin-left: 0;
    }

    .node-blog{
        padding:0;
    }


    video{
        max-width: 100%;
    }

    .mejs-container,.mejs-overlay-play,audio, canvas,iframe{
        max-width: 100% !important;
    }



    .node-project .project_info span{
        width:100%;
        border:none;
    }

    .node-project .project_info{
        text-align: center;
        margin-top: 50px;
    }

    .da-thumbs li.cols-3 a div span.title{
        margin: 80px 20px 20px 20px;
    }

    .view-id-work.view-display-id-page_3 .item{
        width:100%;
    }

    .view-id-work.view-display-id-page_3 .item.w2{
        width:100%;
    }

    .view-id-work.view-display-id-page_3 .item.w1{
        width:100%;
    }

    .view-id-work span.title,.view-id-work span.title,.da-thumbs li a div span.title{
        margin: 80px 20px 20px 20px;
        font-size: 30px;
    }

    .flexslider .contrast .hi-icon-wrap{
        display: none;
    }

}

/* Mobile display. */
@media only screen and (max-width:500px) {

    #hero .flexslider .slides .field-content{
        font-size: 36px;
    }

    .flexslider .flex-direction-nav a{
        width: 40px;
        height: 40px;
    }

    #hero .button{
        padding: 10px 30px;
    }

    .flexslider .flex-direction-nav .flex-prev:before{
        font-size: 20px;
        line-height: 40px;
    }
    .flexslider .flex-direction-nav .flex-next:before{
        font-size: 20px;
        line-height: 40px;
    }

    .work-list ul.items .work-item,
    .work-list ul.items .work-item.cols-3{
        list-style: none;
        float:left;
        width:98%;
        padding:1%;
        margin:1%;
        text-align: center;
    }

    #block-block-2 {
        text-align: center;
    }

    #block-block-2 .pull-left{
        margin-top: 10px;
        float:none !important;
        text-align: center;
        margin-bottom: 10px;
    }



    .work-list ul.items .work-item{
        max-height: 200px;
        overflow:hidden;
    }



}
